@import "styles/constants.scss";

.container {
  // max-width: $breakpoint-xl;
  width: 100%;
  margin: 0 auto;
  background: url("../../../public/Banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.hero {
  max-width: $breakpoint-xl;
  margin: 0 auto;
  padding: 0 130px;
  padding-bottom: 100px;
  position: relative;

  @media (max-width: $breakpoint-md) {
    padding: 0 35px;
    padding-bottom: 100px;
  }
}

.kite_box {
  // width: 100%;
  height: 150px;
  position: relative;
  padding-top: 150px;
  z-index: -5;

  @media (max-width: $breakpoint-md) {
    padding-top: 100px;
  }
}

.kite1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  animation: float 4s ease-in-out infinite;
}
.kite2 {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: float 4s ease-in-out infinite;

  // left: 50%;
  // transform: translate(-50%);
}
.kite3 {
  position: absolute;
  top: 25%;
  right: 0;
  animation: float 4s ease-in-out infinite;

  // left: 50%;
  // transform: translate(-50%);
}
.banner_logo {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.banner_join_date {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  margin-top: 150px;
  color: $primary-color;

  @media (max-width: $breakpoint-md) {
    font-size: 24px;
    line-height: 36px;
    margin-top: 100px;
  }
}

.banner_address {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: $button-color;

  @media (max-width: $breakpoint-md) {
    font-size: 24px;
    line-height: 36px;
  }
}

.banner_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}

.banner_ticket_button {
  padding: 19px 61px 19px 61px;
  gap: 10px;
  border-radius: 9px;
  border: none;
  background-color: $button-color;
  color: $primary-color;

  @media (max-width: $breakpoint-md) {
    padding: 15px 56px;
  }
}

.button_flex {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.button_flex > span {
  font-size: 28px;
  font-weight: 500;

  @media (max-width: $breakpoint-md) {
    font-size: 20px;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.kite_container {
  position: relative;
  width: 200px;
  height: 200px;
}

.kite_image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: float 4s ease-in-out infinite;
}

.logo_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.hero_logo {
  position: absolute;
  // right: 50%;
  // top: 30%;
  // transform: translate(-30%, -50%);
  height: 150px;
  width: 250px;
  animation: logo-animation 2s ease;

  @media (max-width: $breakpoint-md) {
    width: 200px;
    height: 120px;
  }
}

@keyframes logo-animation {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
