@import "styles/constants.scss";

.container {
  width: 100%;
  margin: 0 auto;
  background: url("../../../public//play-list-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0;
  position: relative;
  z-index: 11;
}

.sponsors {
  max-width: $breakpoint-xl;
  margin: 0 auto;
  padding: 0 130px;

  @media (max-width: $breakpoint-md) {
    padding: 0 35px;
  }
}

.title {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: $primary-color;

  @media (max-width: $breakpoint-md) {
    font-size: 24px;
  }
}
.sponsors_list {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;
  // gap: 50px;
  margin-top: 50px;
  // flex-wrap: wrap;

  @media (max-width: $breakpoint-md) {
    margin-top: 40px;
  }
}

.sponsors_logo {
  height: 120px;
  height: 81px;
  position: relative;
}
