@import "styles/constants.scss";

.container {
  max-width: $breakpoint-xl;
  margin: 90px auto;
  width: 100%;

  @media (max-width: $breakpoint-md) {
    margin: 42px auto;
  }
}

.upcoming_events {
  margin: 0 130px;
  @media (max-width: $breakpoint-md) {
    margin: 0 35px;
  }
}

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
}

.header {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 800;
  line-height: 72px;
  text-align: left;

  @media (max-width: $breakpoint-md) {
    font-size: 28px;
  }
}
.top > button {
  width: 169px;
  height: 49px;
  border-radius: 9px;
  border: 4px solid black;
  color: black;
  background: transparent;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  cursor: pointer;

  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.events {
  width: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 21px;
  overflow: scroll;

  @media (min-width: $breakpoint-md) {
    margin-top: 90px;
  }
}

.events::-webkit-scrollbar {
  width: 0px;
}

.see_mobile {
  display: none;
  max-width: 169px;
  width: 100%;
  border-radius: 9px;
  border: 4px solid $button-color;
  color: $button-color;
  background: transparent;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

  @media (max-width: $breakpoint-md) {
    display: inline-block;
    margin-top: 32px;
  }
}
