@import "styles/constants.scss";

.container {
  width: 100%;
  background-color: black;
  z-index: 11;
  overflow: hidden;
}

.scrolling_text {
  max-width: $breakpoint-xl;
  margin: 0 130px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: $primary-color;
  white-space: nowrap;
  display: inline-block; /* Make text a block-level element for animation */
  padding-left: 100%; /* Start the text off-screen on the right */
  animation: scroll-left 20s linear infinite;

  @media (max-width: $breakpoint-md) {
    margin: 0 35px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
}

// .scrolling-text {
//   /* Adjust the duration for slower scrolling */
// }

@keyframes scroll-left {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
