@import "styles/constants.scss";

.container {
  background: url("./../../../public/bg-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  // padding: 105px 0;
  z-index: 0;
  position: relative;

  @media (max-width: $breakpoint-md) {
    // padding: 42px 0;
  }
  // height: 601px;
}

.bg_image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @media (max-width: $breakpoint-md) {
    display: none;
  }
}
.artists_lineup {
  max-width: $breakpoint-xl;
  margin: 0 auto;
  padding: 105px 164px;
  position: relative;
  @media (max-width: $breakpoint-md) {
    padding: 35px 35px;
  }
}

.header {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  // margin-top: 80px;

  @media (max-width: $breakpoint-md) {
    font-size: 28px;
    // margin-top: 42px;
    line-height: 42px;
  }
}

.artist_flex {
  margin-top: 75px;
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;

  @media (max-width: $breakpoint-md) {
    margin-top: 42px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: $breakpoint-sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.bg_image {
  position: absolute;
  top: 0;
  left: 0;
  height: 286px;
  width: 286px;

  @media (max-width: $breakpoint-md) {
    display: none;
  }
}
