@import "styles/constants.scss";

.container {
  width: 100%;
  margin: 0 auto;
  // background-color: #d3d3d3;
  // position: relative;
  z-index: 0;

  @media (max-width: 1200px) {
    background-color: transparent;
  }
}
.headers {
  max-width: $breakpoint-xl;
  margin: 0 auto;
  padding: 0 130px;
  padding-top: 23px;
  // padding: 23px 0;
  height: 93px;
  display: flex;
  align-items: center;
  background: transparent;
  position: relative;
  // width: 100%;

  @media (max-width: 1200px) {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    background: transparent;
    @media (max-width: $breakpoint-md) {
      height: 0;
      padding: 0 35px;
    }
  }
}

.header_items {
  width: 100%;
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media (max-width: 1200px) {
    display: none;
  }
}

.nav_logo {
  position: relative;
  animation: float 4s ease;
}

@keyframes float {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.header_menu {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
  align-items: center;
}

.menu {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: $primary-color;
  transition: all ease 300ms;
  &:hover {
    cursor: pointer;
    color: $button-color;
  }
}

.ticket_button {
  padding: 20px 21px 20px 21px;
  border-radius: 9px;
  background-color: $button-color;
  font-size: 18px;
  font-weight: 500;
  color: $primary-color;
  border: none;
  cursor: pointer;
}

.menu_icon {
  display: none;

  @media (max-width: 1200px) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    top: 10px;
    right: 0;
    // margin-top: 25px;
    z-index: 1;
  }
}

.menu_icon > svg {
  height: 30px;
  width: 30px;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  margin-top: 60px;
  z-index: 2;
}

.hide_menu {
  transform: translateX(150%);
  transition: all ease 300ms;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  // width: 100%;
  z-index: 1000;
  visibility: hidden;
}
.show_menu {
  transform: translateX(0);
  transition: all ease 300ms;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  z-index: 1000;
  // width: 100%;
}

.mobile_nav {
  max-width: 300px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 16px;
  overflow: hidden;
}

.top {
  display: flex;
  // width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
}

.top > svg {
  width: 20px;
  height: 20px;
  color: $button-color;
}

.nav_item_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 1px solid white;
}

.menu_item {
  font-weight: 500;
  font-size: 16px;
}
