@import "styles/constants.scss";

.container {
  max-width: $breakpoint-xl;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  // overflow: hidden;
}
